# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/bty-blog-react-next/node_modules
/bty-blog-react-next/.pnp
.pnp.js

# testing
/bty-blog-react-next/coverage

# next.js
/bty-blog-react-next/.next/
/bty-blog-react-next/out/

# production
/bty-blog-react-next/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

HELP.md

/bty-blog-springboot/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

**/application-prod.yml
**/application-dev.yml
**/btyhub.site.jks

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/bty-blog-springboot/nbproject/private/
/bty-blog-springboot/nbbuild/
/bty-blog-springboot/dist/
/bty-blog-springboot/nbdist/
/bty-blog-springboot/.nb-gradle/
/bty-blog-springboot/build/

### VS Code ###
/bty-blog-springboot/.vscode/
/bty-blog-react-next/.vscode/
.vscode/